@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SharpBlack";
  src: url("../../public/fonts/SharpSans-No1-Black.otf");
}

@font-face {
  font-family: "SharpMedium";
  src: url("../../public/fonts/SharpSans-No1-Medium.otf");
}
